{% load humanize %}
<div>
    <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="item-entry">
                <a href="{{product.get_absolute_url}}" class="product-item md-height bg-gray d-block">
                  <img src="{{product.image.url}}" alt="Image" class="img-fluid">
                </a>
  
              </div>
  
            </div>
  
            <div class="col-md-6">
     
             
              <h2 class="text-black">{{product.name}}</h2>
              <p class="mb-4">{{product.description |safe}}</p>
              <p><strong class="text-primary h4">₦{{product.price | intcomma}}</strong></p>
              <div class="mb-1 d-flex">
                <label for="option-sm" class="d-flex mr-3 mb-3">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" name="shop-sizes"></span> <span class="d-inline-block text-black">Small</span>
                </label>
                <label for="option-md" class="d-flex mr-3 mb-3">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" name="shop-sizes"></span> <span class="d-inline-block text-black">Medium</span>
                </label>
                <label for="option-lg" class="d-flex mr-3 mb-3">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" name="shop-sizes"></span> <span class="d-inline-block text-black">Large</span>
                </label>
                <label for="option-xl" class="d-flex mr-3 mb-3">
                  <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl" name="shop-sizes"></span> <span class="d-inline-block text-black"> Extra Large</span>
                </label>
              </div>
              <div class="mb-5">
                <div class="input-group mb-3" style="max-width: 120px;">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                </div>
                <input type="text" class="form-control text-center qty-input" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                </div>
              </div>
  
              </div>

              <button class="buy-now btn btn-sm height-auto px-4 py-2 btn-primary" 
               unicorn:click ="add_item({{product.id}})">
                Add To Cart
              </button>
  
            </div>
            
          </div>
          <div class="site-section">
            <div class="container">
    {% if user_products %}
    <div class="row mb-5">
        <form class="col-md-12" method="post">
            <div class="site-blocks-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="product-thumbnail">Image</th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-total">Total</th>
                            <th class="product-remove">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for item in user_products %}
                            <tr>
                                <td class="product-thumbnail">
                                    <a href="{{item.product.get_absolute_url}}">
                                    <img src="{{item.product.image.url}}" alt="Image" class="img-fluid">
                                    </a>
                                </td>
                                <td class="product-name">
                                    <h2 class="h5 text-black">{{item.product.name}}</h2>
                                </td>
                        <td>₦{{item.product.price | intcomma}}</td>
                        <td>
                            <div class="input-group mb-3" style="max-width: 120px;">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                </div>
                                <input type="text" class="form-control text-center" value="{{item.quantity}}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                </div>
                            </div>
                            
                        </td>
                    <td>$49.00</td>
                    <td><a href="#" class="btn btn-primary height-auto btn-sm">X</a></td>
                </tr>
                
                
                
            </tbody>
            {% endfor %}
        </table>
    </div>
    </form>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="row mb-5">
                <div class="col-md-6 mb-3 mb-md-0">
                    <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="text-black h4" for="coupon">Coupon</label>
                    <p>Enter your coupon code if you have one.</p>
                </div>
                    <div class="col-md-8 mb-3 mb-md-0">
                        <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary btn-sm px-4">Apply Coupon</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Subtotal</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">$230.00</strong>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">$230.00</strong>
                            </div>
                        </div>
                       
                        
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg btn-block" onclick="window.location='checkout.html'">Proceed To Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% else %}
    There are no Products in your cart
    
    {% endif %}
    </div>
    
        </div>
      </div>
</div>
